a {
  color: inherit;
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  background: #D3ECEB;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 16px; }

header {
  margin-top: 40px;
  background: #9DD5D3; }
  header h1 {
    text-transform: uppercase;
    padding: 28px 33px 28px 53px;
    background: #1FA29B;
    font-size: 28px;
    color: white;
    text-shadow: 0 1px 1px #000000;
    display: inline-block;
    margin: 0; }
    header h1 .page-title {
      font-weight: 700; }
    header h1 .separator, header h1 > time {
      font-weight: 400; }

main {
  margin-top: 25px;
  padding-left: 53px;
  display: flex; }

table#schedule {
  max-width: 960px;
  min-width: 800px;
  border-collapse: separate;
  border-spacing: 0 0.5em; }
  table#schedule th > .icon {
    height: 13px;
    display: block;
    margin: 0 auto; }
  table#schedule th.date {
    width: 50px; }
  table#schedule th.sport {
    width: 50px; }
  table#schedule th.location {
    width: 280px; }
  table#schedule th.time {
    width: 72px; }
  table#schedule th.level {
    width: 50px; }
  table#schedule thead tr {
    height: 20px; }
  table#schedule tbody {
    cursor: pointer;
    border-collapse: separate;
    border-spacing: 0 1em; }
    table#schedule tbody tr {
      background-color: white;
      height: 50px;
      box-shadow: 1px 1px 2px 0 rgba(21, 20, 15, 0.5); }
    table#schedule tbody td {
      text-align: center; }
  table#schedule .event-time {
    width: 24px;
    border: solid thin #89878C;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto; }
    table#schedule .event-time .day-name {
      background-color: #89878C;
      text-transform: uppercase;
      color: white;
      font-size: 8px; }
    table#schedule .event-time .day {
      color: #89878C;
      font-size: 12px; }
  table#schedule .sport .icon {
    margin: 0 auto; }
  table#schedule .destination, table#schedule .location, table#schedule .time {
    color: #89878C;
    font-size: 22px;
    text-align: left; }
  table#schedule .destination {
    font-weight: bold; }
  table#schedule .level .icon {
    margin: 0 auto; }

.legend {
  margin-left: 30px;
  color: #1FA29B; }
  .legend ul {
    list-style: none;
    padding: 0 0px 10px 0;
    border-bottom: solid 1px #1FA29B; }
    .legend ul.level-legend {
      width: 100%;
      border-bottom: none;
      padding: 10px 0 0 30px; }
    .legend ul:last-of-type {
      border-bottom: none; }
  .legend li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0.75em; }
    .legend li.requirement {
      margin-bottom: 0.5em; }
      .legend li.requirement:before {
        content: '+ ';
        padding-right: 0.5ex; }
  .legend h2 {
    font-size: 16px; }
  .legend .icon {
    margin-right: 5px;
    display: inline-block; }
  .legend .social-network-link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: #1FA29B;
    text-decoration: none; }
    .legend .social-network-link:hover {
      text-decoration: underline; }

.icon {
  background-image: url("images/iconos-calendar.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: block;
  /****** LEVELS ****/
  /***** HEADERS ****/
  /**** ****/ }
  .icon.sport {
    height: 24px; }
  .icon.mtb {
    background-position: left 0px;
    width: 28px; }
  .icon.running {
    background-position: left -26px;
    width: 21px; }
  .icon.trekking {
    background-position: left -52px;
    width: 17px; }
  .icon.basketball {
    background-position: left -80px;
    width: 24px; }
  .icon.volleyball {
    background-position: left -107px;
    width: 24px; }
  .icon.soccer {
    background-position: left -133px;
    width: 24px; }
  .icon.tournament {
    background-position: left -159px;
    width: 17px; }
  .icon.event {
    background-position: left -186px;
    width: 26px; }
  .icon.level {
    width: 22px;
    height: 13px; }
  .icon.easy {
    background-position: left -343px; }
  .icon.medium {
    background-position: left -362px; }
  .icon.hard {
    background-position: left -381px; }
  .icon.multilevel {
    background-position: left -399px; }
  .icon.header-icon {
    width: 13px;
    height: 13px; }
  .icon.date {
    background-position: left -220px; }
  .icon.destination {
    background-position: left -246px; }
  .icon.location {
    background-position: left -271px; }
  .icon.time {
    background-position: left -297px; }
  .icon.level-header {
    background-position: left -323px;
    width: 22px;
    height: 13px; }
  .icon.facebook {
    width: 27px;
    height: 27px;
    background-position: left -420px; }

/*# sourceMappingURL=style.css.map */
